#
# CMake ignores
# ------------------

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

#
# Other ignores
# ------------------

.deps/
config.status
config.log
*.o
*.tar.gz
build/
*.swp

